<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Election System{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg">
<div class="center">
  <div class="card-3d">
    {% block content %}{% endblock %}
  </div>
</div>
<script>
  function showResetPassword() {
    document.getElementById('resetRevealBtn').classList.add('hidden');
    document.getElementById('resetPwdWrap').classList.remove('hidden');
    document.getElementById('resetPwd').focus();
  }
  function hideResetPassword() {
    document.getElementById('resetPwdWrap').classList.add('hidden');
    document.getElementById('resetRevealBtn').classList.remove('hidden');
  }
  function revealDeletePwd(id) {
    document.getElementById('del-wrap-' + id).classList.add('hidden');
    document.getElementById('del-confirm-' + id).classList.remove('hidden');
  }
  function cancelDelete(id) {
    document.getElementById('del-confirm-' + id).classList.add('hidden');
    document.getElementById('del-wrap-' + id).classList.remove('hidden');
  }
</script>
</body>
</html>